body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 1000;
    color: rgb(52, 62, 71);
    
    
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width img{
width: 80%;
}
.order-button{
    text-decoration: none;
    background-image: radial-gradient(orange,tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 300; 
    border-radius: 25px;
}