body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 1000;
    color: rgb(52, 62, 71);
    
    
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width img{
width: 80%;
}
p{
    margin-bottom: 40px;
}
.order-button{
    text-decoration: none;
    background-image: radial-gradient(orange,tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 300; 
    border-radius: 40px;
    margin-bottom: 30px;
}
.banner-card{
    position: relative;
}
.banner-card img{
max-width: 100%;
height: auto;

}
.banner-text{
position: absolute;

top: 25%;
padding-left: 700px;
}
.banner-text h4{
    font-size: 40px;
    
    font-weight: bold;
    margin-bottom: 5px;
    color:rgb(52, 62, 71) ;
}
.top-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    
}
.banner-text p{
    margin-bottom: 50px;
}
.recipies h4{
    font-size: 40px; 
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(52, 62, 71);
    text-align: center;
}
.recipies p{
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 50px;
}
.cards{
    width: 25%;
    background-color:rgb(247, 244, 244); 
    border-radius: 30px;
    display: inline-block;
    margin: 20px;
    box-shadow: 2px 2px 10px black;
    padding: 20px 40px;
    border: 15px;
    
}
.image img{
    width: 100%;
    border-radius:30px;
    border: 15px;
    
    
    
    
    
}
.title{
    font-size: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-left: 10px;
    padding: 5px;
}
.des{
   margin-left: 10px; 
   padding: 5px;
   
}
.main{
    display: flex;
    display: flexbox;
    padding: 10px 10px 10px 10px ;
}
.box{
   display: inline-block;
    margin: 50px;
    padding: 20px 40px;
   
   text-align: center;
    
   
}
.box-model{
    position: relative;
    padding-left: 300px;
    box-shadow: 2px 2px 10px rgb(230, 226, 226);
    background: white;
    border-radius: 30px;
    border-width: 50px;
    margin: 30px
}
.box h5{
    padding-bottom: 1px;
}
.food-net{
    font-size: 20px; 
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(104, 105, 107);
    text-align: center;
    background-color: black;
    padding: 25px 50px;
    
}
.food-net h5{
    text-align: center;
    font-weight: normal;
   
}
.foor-net h3{
    padding-top:30px;
    margin-top: 10px;
}


